---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex w-full">
      <h1 class="text-4xl font-sans">questguide.dev</h1>
    </div>
    <div>
      <h2 class="text-4xl font-sans font-light">An [Unofficial] Guide For</h2>
    </div>
  </main>
</Layout>
