---
const { title } = Astro.props;
---

<div class="flex w-full px-8 py-2 h-24 items-center">
  <div class="flex flex-row items-center gap-3">
    <h1 class="text-4xl font-sans">{title}</h1>
    <img src="/images/quest-3-icon.svg" alt="logo" class="w-20 h-20 ml-auto" />
  </div>
</div>
